

*{
    margin: 0;
    padding: 20;
} 
html {
    scroll-behavior: smooth;
}
ul {
    list-style-type: none;
}
h1{
    line-height: 2;
    font-size: 45px;
    background-image: linear-gradient( #e25858, #EC7272 , #f7a76c);
    color: rgb(43, 43, 139);
    text-decoration: underline;
    text-align: center;
    
}
h3{
    line-height: ;
    background-color: #E0D98C;
}
h5 {
    background-color: #E0D98C;
}
.nav__inicio {
    background-color: #f7a76c;
    color: black;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    border-radius: 20%;
    position: absolute;
    top: 10px;
    animation-name: nav__inicio;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes nav__inicio {
    0% {background-color: #e25858
    }
    50% {background-color: #EC7272
    }
    100% {background-color: #f7a76c
    }
}
p {
    font-size: 28px ;
    background-image: linear-gradient( #b8b37b , #C3FF99) ;
}
/* index */
.titulo{
    color: rgb(43, 43, 139);
    background-color: #EC7272;
    font-weight: bold;
    border: 2px solid black;
    font-size: 50px;
    text-align: center;
}

.imagen{
    display: flex;
    position:sticky;
    top: 0px;
    border-radius: 30px;
    box-shadow: 0 30px 50px -12px rgba(0, 0, 0, 60%);
    animation: imagen 2s infinite;
}
@keyframes imagen {
    0% {
        top: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    50% {
        top: 4px;
        margin-left: 4px;
    }
    100% {
        margin-right: 4px;
    }
}
.nav__div {
    justify-content: center;
    height: 100px;
    background-color: #F7A76C;
    font-weight: bold;
    font-size: 40px;
}

.whatsapp {
    position: fixed;
    bottom: 40px;
    right: 20px;
}

.main-index{
    background-color: #C3FF99;
}

.email {
    height: 35px;
    width: 270px;
    border: 5px solid black;
} 
.email:focus {
    border: 5px solid red;
}

.ubicacion {
    transform: translate( 30px , 20px);
    
}
/* productos */
.destacados {
    text-decoration: underline;   
    margin: 10px;
    padding: 5px;
    text-align: center;
}
.lista {
    background: grey;
    font-size: 18px;
}

.articulos {
    background-color: #E0D98C;
    font-size: 22px;
    font-weight: bolder;
}

.img-art {
    background-color:#C3FF99;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 60%)
}
.fondo-prod {
    background-color:#C3FF99; 
}

.imagen_productos {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    align-items: center;
}
.ver-mas {
    background-color: #F7A76C;
    display: inline-block;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    color: rgb(3, 3, 54);
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}
.ver-mas:hover {
    border: 5px solid black;
}
  /* contacto */

.medios_contacto {
    font-weight: bold;
    font-size: 30px;
    background-color: #E0D98C;
}
.item {
    background-attachment: fixed;
    flex-wrap: wrap;
}
.botton {
    font-weight: bold;
    border-radius: 30px;
    font-size: 20px;
}
.consulta {
    display: flex;
    height: 50px;
    width: 250;
    margin: 10px;
    padding: 5px;
}
.text__area{
    margin: 10px;
    border: 2px solid black;
    border-radius: 20px;
    height: 250px;
    width: 420px;
}
.text__area:focus {
    border: 5px solid red;
}
.contacto-grid {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    padding: 20px;
    margin: 10px;
}
/* entregas */
.envios {
    background-color: #E0D98C;
    font-size: 30px;
    font-weight: bolder;
}
.entregas-grid {
    display: grid;
    grid-template-rows: repeat(2 , 2fr);
}
/* home */
.home-grid {
    display: grid;
    grid-template-columns: 60%  40%;
    align-items: flex-end;
}


@media (max-width: 992px) {
    .nav__div {
        font-size: 10px;
    }
    h1 {
        font-size: 30px;
    }
    .imagen {
        display: none;
    }
    .home-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .contacto-grid {
        grid-template-columns: 1fr;
    }
    h3{
        font-size: 25px;
    }
    h5 {
        font-size: 20px ;
    }
    .nav__inicio { 
        font-size: 18px;
    }
}