/* contacto */
.medios_contacto {
    font-size: 28px;
    background-color: $tertiary;
    padding: 20px;
    margin: 20px;
}
.botton {
    font-weight: bold;
    border-radius: 30px;
    font-size: 18px;
    top: 0px;
    right: 150px;
}
.consulta {
    height: 50px;
    width: 250;
    margin: 10px;
    padding: 5px;
}
.text__area{
    margin: 10px;
    height: 200px;
    width: 400px;
}
