/* entregas */
.envios {
    background-color: $fourth;
    font-size: 30px;
    font-weight: bolder;
}
.entregas-grid {
    display: grid;
    grid-template-rows: repeat(2 , 2fr);
    @extend .conteiner;
}