/* productos */
.destacados {
    text-decoration: underline;   
    margin: 10px;
    padding: 5px;
    text-align: center;
}
.lista {
    background: #b8b37b;
}

.img-art {
    background-color:$tertiary;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 60%)
}
.fondo-prod {
    background-color:$tertiary; 
}

.imagen_productos {
    @include TemplateGrid(3);
}
.ver-mas {
    background-color: $primary;
    display: inline-block;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    color: rgb(3, 3, 54);
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}
.ver-mas:hover {
    border: 5px solid black;
}
.articulos{
    @extend .conteiner;
}